@charset "UTF-8";


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 0.6em;
}

html, body{
    min-height: 97vh;
    background-color: rgb(241, 234, 234);
    font-family: var(--fonte1);
    min-width: 500px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 6vw;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 20px;
    font-family: var(--fonte1);
    font-size: 3.5vw;
}

section > p{
    padding: 2em;
    margin: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.normal > p {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.705);
    text-shadow: 1px 1px 0px black;
}

section.imagem{
    margin: 10px;
    background-color: rgb(54, 54, 54);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
    text-align: justify;
}

section.imagem > p{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.705);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-position: right center;
    background-size: cover;
    background-image: url('imagens/Ponto-Eletronico.jpg');
}

section#img02{
    background-size: cover;
    background-image: url('imagens/salario-2.jpg');
}

section#img03{
    background-size: cover;
    background-image: url('imagens/aviao.jpeg');
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}