@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
    background-color: #A9DAFF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.7s;
}

.navbar .logo a:hover{
    color: black;
    background-color: #A9DAFF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.7s;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    text-shadow: 2px 2px 5px black;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .links{
    text-shadow: 2px 2px 5px black;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    gap: 2rem;
}

header{
    background-color: #009efa;
    position: relative;
    padding: 0 2rem;
}